<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
</head>
<body>
    <h1 class="tituloItem">Detalles del Producto</h1>
        {{#if product}}
<div class='itemDetail'>
  <div class='imgDetail'>
    <img src="{{product.thumbnails}}" alt="{{product.title}}" class="detailImg">
  </div>
  <div class='detalle'>
    <h1 class='nombreProducto'>{{product.title}}</h1>
    <h4 class='precioDetail'>$ {{product.price}}.00 ARS</h4>
    <div class='stock'>
      
<input type="number" class="cantidadDetail" min="1" max="{{product.stock}}">

    </div>
    <p class='stockNum'>stock: {{product.stock}}</p>
    <button class='botonDetail'>Agregar al Carrito</button>
    <a href="/api/products" class="botonDetail"> ⬅️ Volver a productos  </a>
    
  </div>
  <div class='descripcion'>
    <h5>Descripcion del Producto:</h5>
    <p>{{product.description}}</p>
  </div>
</div>
    {{else}}
      <h1>No se encontro el producto</h1>
    {{/if}}
    
</body>
</html>